<section class="section">
  <div>
    <button type="reset" class="section_reset js-reset">
      <i class="fa-regular fa-trash-can trash "></i>
      <p class="section_reset_p">Reset</p>
    </button>
    <div class="section_card">
      <article class="section_card_article">
        <h1 class="section_card_article_title palet1 js-nameCard">Nombre Apellido</h1>
        <p class="section_card_article_text border1 js-jobCard">Front-end developer</p>
        <div class="section_card_article_container">
          <div class="section_card_article_container_image js-photoCard js__profile-image"></div>
          <ul class="rrss">
           
            <li>
              <a class="js-phoneCard iconPreview icon1" href target="_blank">
                <i class="fa-solid fa-mobile-screen-button fa-xl"></i>
              </a>
            </li>
            <li>
              <a class="js-emailCard iconPreview icon1" href target="_blank">
                <i class="fa-regular fa-envelope fa-xl"></i>
              </a>
            </li>
            <li>
              <a class="js-linkedinCard iconPreview icon1" href target="_blank">
                <i class="fa-brands fa-linkedin-in fa-xl"></i>
              </a>
            </li>
            <li>
              <a class="js-githubCard iconPreview icon1" href target="_blank">
                <i class="fa-brands fa-github-alt fa-xl "></i>
              </a>
            </li>
          </ul>
        </div>
      </article>
    </div>
  </div>
</section>